---
layout: blog
pageable: true
per_page: 30
---

<%- current_article = page_articles.first %>
<div class="grid-parent box collapse" id='article-<%= current_article.date %>'>
  <div class='grid-100 content'>
    <h2><%= current_article.title %> <span><%= current_article.date.strftime('%B %e, %Y') %></span></h2>
    <%- if current_article.tags.any? %>
    <div class='tags'>
      in <%= current_article.tags.map{ |tag| link_to tag, tag_path(tag) }.join(', ') %>
    </div>
    <%- end %>
    <div class='article'>
      <%= current_article.body %>
    </div>
  </div>
</div>

<div class="grid-parent box collapse">
  <div class='grid-100 content'>
    <% page_articles.each_with_index do |article, i| %>
      <%- link_to article do %>
      <div class='content tiledbox grid-50 tablet-grid-50 mobile-grid-100'>
        <h2><%= article.title %><br /><span><%= article.date.strftime('%b %e %Y') %></span></h2>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if paginate %>
<div class="grid-parent box">
  <div class='grid-100 content shortbox'>
      <% if prev_page %>
        <%= link_to 'Previous page', prev_page %>
      <% end %>
      <% if num_pages > 1 %>
        <%= page_number %> of <%= num_pages %> pages &nbsp;&nbsp;
      <% end %>
      <% if next_page %>
        <%= link_to 'Next page', next_page %>
      <% end %>
  </div>
</div>
<% end %>

