---
layout: blog
pageable: true
---

<div class="grid-parent box collapse">
  <div class='content boxtitle grid-100 tablet-grid-100 mobile-grid-100'>
    <h2>Articles from <span>
    <% case page_type
       when 'day' %>
      <%= Date.new(year, month, day).strftime('%b %e %Y') %>
    <% when 'month' %>
      <%= Date.new(year, month, 1).strftime('%b %Y') %>
    <% when 'year' %>
      <%= year %>
    <% end %>
  </span>
    </h2>
  </div>
  <div class='grid-100 content'>
    <% page_articles.each_with_index do |article, i| %>
      <%- link_to article do %>
      <div class='content tiledbox grid-50 tablet-grid-50 mobile-grid-100'>
        <h2><%= article.title %><br /><span><%= article.date.strftime('%b %e %Y') %></span></h2>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if paginate %>
<div class="grid-parent box">
  <div class='grid-100 content'>
    <% if num_pages > 1 %>
    <div class='shortbox grid-100'>
      <%= page_number %> of <%= num_pages %> pages
    </div>
    <% end %>
    <div class='shortbox grid-50'>
      <% if prev_page %>
        <p><%= link_to 'Previous page', prev_page %></p>
      <% end %>
    </div>
    <div class='shortbox grid-50'>
      <% if next_page %>
        <p><%= link_to 'Next page', next_page %></p>
      <% end %>
    </div>
  </div>
</div>
<% end %>
