---
layout: page
title: Portfolio
hide_blog: true
---

<div id='content' class='darker'>
  <div id='article'>
    <h2>Rails Consulting</h2>
    <h3>2013 - Present</h3>
    <p>
      At the moment I have a few select clients I consult for. I principally offer
      full stack Rails development (but will use any technology or framework desired).
      This often entails architecting and building projects which use multiple coordinated
      data stores, caches and various job frameworks. Here are some tools I regularly use:
    </p>
    <ul>
      <li>data: postgres, mysql, redis, memcached, neo4j</li>
      <li>visualizing it: d3.js, Highcharts, Raphael</li>
      <li>breaking it down: resque, Pig, sidekiq</li>
      <li>analyzing it: analytics, ML and NLP work in Octave and libsvm</li>
      <li>serving it: Varnish, nginx, passenger, unicorn</li>
      <li>logic for it: Rails, Sinatra, Spree, node.js, express</li>
      <li>presenting it: React, React Native, jQuery, plain old JavaScript 5, brand new ECMA6</li>
      <li>...across devices: modernizr, respond.js, bootstrap, unsemantic and my own responsive frameworks</li>
    </ul>

    <h2>Co-Founder/CTO, ShortInsider</h2>
    <h3>June 2012 - Present</h3>
    <p>
      Short Insider aggregates, audits, analyzes short interest disclosures from across the European Union and
      several other countries. We provide high quality real time and daily feeds to our clients.
    </p>

    <h2>Product &amp; Engineering, Urtak</h2>
    <h3>
      Union Square July 2011 - April 2012 (NYC TechStars 2011)
    </h3>
    <p>
      I was the first engineering hire at Urtak. Urtak built a highly innovative
      collaborative polling technology with extraordinarily high engagement rates
      with audiences. Placed below an article and kicked-off by a publications'
      staff the poll quickly gets richer as users contribute yes/no questions to it.
    </p>
    <%= image_tag 'urtak-future.png', width: '100%', caption: 'Our designer, Sascha Mombartz, put this together' %>
    <p>
      We never quite figured out how to turn it into an ad product but it was
      quite a journey nonetheless. I did core engineering and pursued building
      out our statistics and visualizations to better understand and share our data.
    </p>
    <%= image_tag 'urtak-analytics.png', width: '100%', caption: 'This was an early draft of my analytics dashboard, this poll in particular broke the scales! Had to make them dynamic after that.' %>

    <a href="http://en.wikipedia.org/wiki/Drop.io"><h2>Systems Engineer, drop.io</h2></a>
    <h3>DUMBO February 2010 - November 2010 (acquired by facebook)</h3>
    <ul>
      <li>Worked with business, operations and engineering to develop and direct a product roadmap</li>
      <li>Created and owned processes surrounding infrastructure provisioning and deployment</li>
      <li>Developed deployment, branch management, code maintenance, testing, and quality strategies</li>
      <li>Production operations team member</li>
    </ul>
    <%= image_tag 'dropio.png', width: '100%', caption: 'A much older version of the drop.io homepage. Simpler times.' %>

    <a href="http://digitalpulp.com"><h2>Developer, Digital Pulp</h2></a>
    <h3>New York, NY July 2008 - December 2009</h3>
    <ul>
      <li>Developed, launched and maintained high traffic data driven content management systems</li>
      <li>Built a publishing platform to integrate a major trade magazine with the web</li>
      <li>Used cutting edge deployment, testing and source control tools</li>
      <li>Worked with and contributed back to open source projects</li>
      <li>Learned test / behavior driven development</li>
    </ul>
    <%= image_tag 'vnsny.png', width: '100%', caption: 'Rails 1.2.3, still standing!' %>
    <%= image_tag 'cacm.png', width: '100%', caption: 'also Rails 1.2.3 and still standing!' %>

    <a href="http://montclare.poly.edu/"><h2>Research Assistant, Protein Engineer</h2></a>
    <h3>Brooklyn, New York 2004-2006</h3>
    <ul>
      <li>Researched nanoscale drug delivery vehicles and copolymers for tissue engineering</li>
      <li>Routinely performed cloning, culturing, expression, purification, and spectroscopy</li>
      <li>Cloned a library of protein polymers for nanoscale drug encapsulation</li>
      <li>Performed kinetics and fluorescence studies to measure substrate binding and activity</li>
      <li>Work presented at the American Chemical Society National Conference</li>
    </ul>

    <h2>Webmaster and Creator of SidGames.com</h2>
    <h3>Warren, New Jersey 1998 - 2001</h3>
    <ul>
      <li>A seemingly very long time ago. How I got my start.</li>
      <li>Apparently there is still some record of this on the <a href="http://www.independent.co.uk/arts-entertainment/second-site-empire-building-1116712.html" target="_blank">web</a>.</li>
    </ul>
  </div>
</div>
