---
layout: page
title: Portfolio
---

<div id='content'>
  <div id='article'>
    <h1>Product Breadth, Tech Depth</h1>
    <p class='teaser'>
      I work with fellow entrepreneurs offering full stack application development.
      My scope of responsibilities generally include researching, architecting, and
      building whole systems or even just leading a major features' development.
    </p>

    <h2>The Usual Stack</h2>
    <p>This is very far from an exhaustive list. I enjoy the intelligent application of both new and old technologies to solve problems.</p>

    <ul>
      <li>languages: Ruby, Javascript (es6/babel), Python, SQL. A bit of Java and C. An interest in ClojureScript, Clojure, lisp in general, functional programming in general and Elixir as a result of those</li>
      <li>data: postgres, mysql, redis, memcached</li>
      <li>visualization: d3.js, Highcharts, Raphael</li>
      <li>processing: sidekiq, concurrent-ruby, zeromq</li>
      <li>learning: GNU GSL, Stanford NLP, TensorFlow word2vec, sklearn, named entity recognition, CRFClassifiers</li>
      <li>http: Varnish, haproxy, nginx, passenger, unicorn, pm2</li>
      <li>backend: Rails, Sinatra, Grape, Spree, node.js, express</li>
      <li>frontend: React, React Native, jQuery, Babel, ES6, Flow</li>
      <li>interface: modernizr, respond.js, bootstrap, and a deep understanding of media queries and UI design</li>
    </ul>
    <br />

    <h1>Select Experience</h1>

    <h2><a href="https://getswill.com" target="_blank">Swill</a></h2>
    <h3>June 2016 - Present</h3>
    <p>
      A work in progress. I'm building a massively parallel real time system for the digestion
      of inventory data sourced from thousands of unique point-of-sale systems across the country.
      Incoming data is stored, parsed, and interpreted using both a machine learned model and
      heuristic approaches to extract product and inventory data which is then matched against
      a canonical internal product database. The system allows us to determine inventory across
      thousands of partner stores in near real time.
    </p>

    <h2><a href="https://vive.co" target="_blank">Vive Style</a>, consultant</h2>
    <h3>June 2016 - September 2016 (YCombinator '15)</h3>
    <p>
      As a contractor I led for several months development at Vive.co in the absence
      of an in-house team and only a small set of remote contractors. I worked with
      the CEO to organize the development roadmap and coordinated with designers to
      build an agency-style process within a fast moving start up. We produced comprehensive
      designs which reflected the true long term business priorities and worked to
      incrementally implement them across multiple platforms.
    </p>

    <h2>Four Winds Katonah, consultant</h2>
    <h3>March 2016</h3>
    <p>
      I built a backend for an application serving in-patients at mental health
      facilities to self assess their feelings. The goal was to decrease incidents
      with clinical staff and self-harm by providing an outlet for patients to freely
      express their emotions. Patients can "check-in" to an emotion and are rewarded
      with a variety of content supplied via the backend.
    </p>
    <p>
      I worked directly with a clinician who'd found that a simple routine of
      acknowledgment of negative emotion paired with a positive stimuli
      drastically reduced drug interventions and incidents with clinical staff.
      The backend is HIPPA compliant and allows clinicians to track overall
      progress at a facility or an individual patient.
    </p>

    <h2><a href="http://parachutehealth.com" target="_blank">Parachute Health</a>, consultant</h2>
    <h3>March 2016 - June 2016</h3>
    <p>
      I worked with Parachute Health to create a microservice backend and API to
      securely and compliantly verify the eligiblity of incoming patient insurance
      data for an array of medical products. This involved very strict validation,
      composable rules, and in the case of failure, detailed responses and steps to correct.
    </p>

    <h2><a href="https://bibme.org" target="_blank">bibme.org</a>, consultant</h2>
    <h3>consulting March 2015 - February 2016 (acquired by chegg)</h3>
    <p>
      BibMe is an extremely high-traffic citation service for students and researchers.
      I implemented a redesign to help boost ad-traffic and usability of the site.
      I also increased the number of sources from which users could cite from 4 to 7000+ and
      implemented a complementary cross-platform interactive search tool for discovery of such sources.
    </p>

    <h2><a href="https://shortinsider.com" target="_blank">Short Insider</a> co-founder &amp; CTO</h2>
    <h3>June 2012 - Present</h3>
    <p>
      Short Insider aggregates, audits, analyzes short interest disclosures from across the European Union and
      several other countries. We provide high quality real time and daily feeds to our clients.
    </p>

    <h2><a href="http://status.urtak.com/" target="_blank">Urtak</a>, Product &amp; Engineering</h2>
    <h3>
      Union Square July 2011 - April 2012 (NYC TechStars 2011)
    </h3>
    <p>
      I was the first engineering hire at Urtak. Urtak built a highly innovative
      collaborative polling technology with extraordinarily high engagement rates
      with audiences. Placed below an article and kicked-off by a publications'
      staff the poll quickly gets richer as users contribute yes/no questions to it.
    </p>
    <%= image_tag 'urtak-future.png', width: '100%', caption: 'Our designer, Sascha Mombartz, put this together' %>
    <p>
      We never quite figured out how to turn it into an ad product but it was
      quite a journey nonetheless. I mostly worked as an engineer on the core of the product
      and pursued building out our statistics and visualizations capabilities to better
      understand and share our data.
    </p>
    <%= image_tag 'urtak-analytics.png', width: '100%', caption: 'This was an early draft of my analytics dashboard, this poll in particular broke the scales! Had to make them dynamic after that.' %>

    <h2><a href="http://en.wikipedia.org/wiki/Drop.io">drop.io</a>, Systems Engineer</h2>
    <h3>DUMBO February 2010 - November 2010 (acquired by facebook)</h3>
    <ul>
      <li>Worked with business, operations and engineering to develop and direct a product roadmap</li>
      <li>Created and owned processes surrounding infrastructure provisioning and deployment</li>
      <li>Developed deployment, branch management, code maintenance, testing, and quality strategies</li>
      <li>Production operations team member</li>
    </ul>
    <%= image_tag 'dropio.png', width: '100%', caption: 'A much older version of the drop.io homepage. Simpler times.' %>

    <h2><a href="http://digitalpulp.com">Digital Pulp</a>, Developer</h2>
    <h3>New York, NY July 2008 - December 2009</h3>
    <ul>
      <li>Developed, launched and maintained high traffic data driven content management systems</li>
      <li>Built a publishing platform to integrate a major trade magazine with the web</li>
      <li>Used cutting edge deployment, testing and source control tools</li>
      <li>Worked with and contributed back to open source projects</li>
      <li>Learned test / behavior driven development</li>
    </ul>
    <%= image_tag 'vnsny.png', width: '100%', caption: 'Rails 1.2.3, still standing!' %>
    <%= image_tag 'cacm.png', width: '100%', caption: 'also Rails 1.2.3 and still standing!' %>

    <h2><a href="http://montclare.poly.edu/">Montclare Lab</a>, Research Assistant</h2>
    <h3>Brooklyn, New York 2004-2006</h3>
    <ul>
      <li>Researched nanoscale drug delivery vehicles and copolymers for tissue engineering</li>
      <li>Routinely performed cloning, culturing, expression, purification, and spectroscopy</li>
      <li>Cloned a library of protein polymers for nanoscale drug encapsulation</li>
      <li>Performed kinetics and fluorescence studies to measure substrate binding and activity</li>
      <li>Work presented at the American Chemical Society National Conference</li>
    </ul>

    <h2>Webmaster and Creator of SidGames.com</h2>
    <h3>Warren, New Jersey 1998 - 2001</h3>
    <ul>
      <li>A seemingly very long time ago. How I got my start.</li>
      <li>Apparently there is still some record of this on the <a href="http://www.independent.co.uk/arts-entertainment/second-site-empire-building-1116712.html" target="_blank">web</a>.</li>
      <li>Microsoft IIS, (Allaire -> Macromedia -> Adobe) ColdFusion, MSSQL</li>
    </ul>

    <br />

    <h1>Projects &amp; Experiments</h1>

    <h2><a href="https://github.com/whistlerbrk/Mail2FrontMatter" target="_blank">Mail2FrontMatter</a></h2>
    <h3>January 2015 - Present</h3>
    <p>
      Mail2FrontMatter supplies a piece of the missing functionality lost with the advent
      of statically generated blogs &amp; websites, namely email-in. M2FM will parse incoming
      emails and replace embeddable links (youtube videos links, e.g.) with their proper
      responsive embeddings as well as scraping any hashtags included in your email for usage as a tag in your blog.
      Works with middleman and jekyll. M2FM is offered as an open source MIT licensed ruby gem.
    </p>

    <h2><a href="https://github.com/whistlerbrk/hashsassins" target="_blank">Hashsassins</a></h2>
    <h3>January 2015</h3>
    <p>
      A twitter bot which acted as a mediator for offline games of
      '<a href="https://en.wikipedia.org/wiki/Assassin_(game)">assassins</a>'.
      In our game, getting the business card of someone in our co-working space caused
      them to be 'assassinated'. The winner being the person who collects the most cards,
      thereby meeting the most new people, in a given timeframe. The goal was to foster
      intra-office business connections with other team members in other industries and lines of work.
    </p>

    <h2><a href="http://addsalttotaste.com/" target="_blank">Salt to Taste</a></h2>
    <p>
      My 'unicorn' project, to-be-rebooted. Salt to taste is a collaborative cookbook
      where users with different taste preferences and dietary restrictions can edit
      in-line other peoples recipes, creating a 'fork' a-la-git(hub). Edits can be
      upvoted and popular changes will automatically become the default ('master') version
      of a recipe.
    </p>

    <h2><a href="http://upontheboard.com" target="_blank">Up On The Board</a></h2>
    <p>
      Up On The Board was an experiment when I was first learning React. The idea is
      to create a public self-cleaning pinboard. Old posts slowly dissapear unless they are
      still relevant (upvoted). Posts can be tweeted, emailed, SMS'ed, or posted over
      the web with text or rich media. The pinboard's content flows responsively and will
      only show the number of posts which can tastefully fit on the viewing device.
      Each board comes with a Chromecast (now 'Google Cast') integration so that offices
      can use it as an internal memorandum board on any TV they may have mounted.
    </p>

    <h2><a href="https://github.com/whistlerbrk/humblesuggestions" target="_blank">Humble Suggestions</a></h2>
    <h3>February - June 2013</h3>
    <p>
      Humble Suggestions was an experiment which arose out of services like pinboard,
      Instapaper and more recently Pocket which push content onto a queue for you to
      consume later. Humble Suggestions would resurface content at contextually appropriate times.
      I discovered the same thing Netflix did, which is that on Friday at 7PM, before going out
      you may not want to watch an old black and white movie on your Netflix queue,
      but a rainy Sunday afternoon might just be the perfect time to send you a reminder as a
      humble suggestion. I shut down the service after Netflix discontinued their API.
    </p>
  </div>
</div>
