---
hide_blog: true
per_page: 5
---

<div id='content'>
  <div id='articles'>
    <% page_articles.each_with_index do |article, i| %>
    <div class='article-preview'>
      <h1><%= link_to article.title, article %></h1>
      <span class='published'><%= article.date.strftime('%b %e %Y') %></span>
      <% if article.tags.any? %>
        -
        <span class='tagged'><%= article.tags.map{ |t| link_to t, tag_path(t) }.join(', ') %></span>
      <% end %>
      <%= article.summary(250) %>
      <% if article.summary(250).length >= 250 %>
      <%= link_to 'Read more...', article %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class='pagination'>
    <%= link_to 'More at the blog...', '/blog' %>
  </div>
</div>
